.layout {
  display: grid;
  grid-template-areas:  "head"
                        "main";
  grid-template-rows: 4em 1fr;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
}

.layout > .layout-header {
  grid-area: head;
}
.layout > .layout-header > .layout-header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout > .layout-header > .layout-header-toolbar > .layout-header-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--white-text);
}
.layout > .layout-header > .layout-header-toolbar > .layout-header-exit {
  color: var(--white-text);
}

.layout > .layout-content {
  grid-area: main;
  padding: 10px;
  z-index: 1;
}
