.layout {
  display: grid;
  grid-template-rows: 4em 1fr;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
}

.layout > .layout-header {
  /* line-height: 4em; */
  text-align: center;
  z-index: 5;
}

.layout > .layout-content {
  padding: 10px;
  z-index: 1;
}
