.screen {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 1fr 70% 1fr;
    grid-gap: 10px;
}

.screen > .form {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}