.snackbar-icon {
    font-size: 20px
}
.snackbar-icon-variant {
    opacity: 0.9;
    margin-right: 10px;
}
.snackbar-message {
    display: flex;
    align-items: center;
}
/* Colors */
.snackbar-success {
    background-color: var(--success) !important;
}
.snackbar-error {
    background-color: var(--error) !important;
}
.snackbar-info {
    background-color: var(--info) !important;
}
.snackbar-warning {
    background-color: var(--warning) !important;
}